.pzp-ui-icon.pzp-setting-button__icon.czp-compressor-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.has_shortcut .pzp-pc-viewmode-button .pzp-button__tooltip.czp-pzp-ac-button:after {
  content: ''
}

.czp-compressor-active svg {
  color: #00e693;
}
