.audio-compressor-button {
    position: absolute;
    border: 1px solid #00000040;
    border-radius: 0.25rem;
    padding: 0.25rem;
    background-color: #141517e0;
    /* display: none; */
    color: rgba(0, 255, 163, 0.9);

    top: 95%;
    right: 40%;
    left: 30%;
    transform: translateY(-80%);
  }
  .audio-compressor-button:hover {
    background-color: #2e2f31e0;
  }
  