.preview {
  position: fixed;
  box-shadow: 0px 0px 10px #00ffa34d;
  z-index: 9999;
}
.preview-title {
  position: absolute;
  top: -2.5rem;
  font-size: 1rem;
  background: black;
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 255, 163, 0.3) 0px 0px 10px;
  font-family: "Sandoll Nemony2";
}
.preview-thumbnail {
  width: 440px;
  height: 248px;
  background-color: #0a8a5d;
}
