.record-btn {
  background-color: #2e3033;
  color: #dfe2ea;
  padding-left: 12px;
  padding-right: 16px;
  border-radius: 17px;
  height: 34px;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  align-items: center;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: Sandoll Nemony2, Apple SD Gothic NEO, Helvetica Neue, Helvetica,
    나눔고딕, NanumGothic, Malgun Gothic, 맑은 고딕, 굴림, gulim, 새굴림,
    noto sans, 돋움, Dotum, sans-serif;
  gap: 0 4px;
  justify-content: center;
  letter-spacing: -0.3px;
  line-height: 0;
  outline: none;
  position: relative;

  cursor: pointer;
}
.record-btn:hover {
  background-color: #434447;
}
.record-btn.recording {
  color: rgb(0, 255, 162);
}
