/* .live_chatting_list_wrapper__a5XTV .name_text__yQG50 {
  color: var(--czp-chat-name) !important;
}
.live_chatting_list_wrapper__a5XTV .live_chatting_message_text__DyleH {
  color: var(--czp-chat-text) !important;
} */

.czp-global {
  position: fixed;
  width: 30rem;
  height: 30rem;
  left: 50%;
  top: 50%;
  padding: 2rem;
  border-radius: 0.5rem;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 30px 0 var(--color-shadow-layer03-02),
    0 0 6px 0 var(--color-shadow-layer03-01);
  background: var(--color-bg-layer-02);
  z-index: 1000;
  overflow-y: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.czp-global::-webkit-scrollbar {
  display: none;
}
.czp-global-close-btn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  color: var(--color-content-02);
  font-size: 1.5rem;
  font-family: "Sandoll Nemony2";
}

.czp-storage {
  position: relative;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  overflow-y: auto;
  height: 20rem;
}
.czp-storage::-webkit-scrollbar {
  width: 5px;
}
.czp-storage::-webkit-scrollbar-thumb {
  background-color: rgb(158, 158, 158);
  border-radius: 10px;
}
.czp-storage::-webkit-scrollbar-track {
  background-color: rgb(71, 71, 71);
  border-radius: 10px;
  background-clip: padding-box;
}
.czp-storage-heading {
  color: var(--color-content-02);
  font-family: "Sandoll Nemony2";
  margin-bottom: 0.5rem;
}
.czp-storage-form {
  margin-block: 1rem;
}
.czp-storage-form-input {
  padding: 0.5rem;
  flex: 1;
}

.czp-storage-form-btn {
  background-color: var(--color-bg-02);
  padding: 0.5rem;
  color: var(--color-content-02);
  border-radius: 8px;
  font-family: "Sandoll Nemony2";
}

.czp-storage-form-btn:hover {
  background: var(--color-bg-02);
}

.czp-chat-st-btn {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  height: fit-content !important;
  min-height: 3rem;
  word-break: break-all;
  white-space: pre-wrap;
  padding: 1rem;
  cursor: pointer;
  flex-shrink: 0;

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.czp-chat-st-btn:hover {
  background-color: var(--color-bg-03) !important;
}
.czp-chat-st-remove-btn {
  display: flex;
  color: var(--color-content-02);
  background-color: var(--color-bg-02);
  border-radius: 0.25rem;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
.czp-chat-st-remove-btn:hover {
  background-color: var(--color-bg-05);
}

.czp-storage-message {
  position: absolute;
  background-color: var(--color-bg-03);
  color: var(--color-content-02);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-family: "Sandoll Nemony2";
}
