body {
  margin: 0px;
  background-color: #141517;
}
#root {
  padding: 2rem;
  min-width: 16rem;
}
hr {
  width: 100%;
}
.popup {
  display: flex;
  margin: 0 auto;
  background-color: #141517;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.description {
  color: #6fec9f;
}
